*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    
    color: rgb(6, 227, 227);
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
h1{
    font-weight: 600;
    text-align: center;
    margin: 100px auto 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #8b8c94;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #FFF;
    font-size: 18px;
    padding: 0 30px;
}
form button {
    padding: 0 40px;
    height: 100%;
    background: #d18c8c;
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.loading {
    text-align: center;
    display: none;
    color: #007bff;
  }

::placeholder{
    color: #eeeaea;
    font-size: 18px;
}
#show-more-btn{
    background: #ab3939;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#show-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
#show-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
